In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline

In [3]:
df = pd.read_csv('apple_tweets_content.csv')

In [10]:
df.columns = ['date', 'text']
df

                       date                                               text
0       2016-04-29 09:10:00  RT @DILLONFRANCIS: Dude @CalvinHarris fucking ...
1       2016-04-29 09:10:00  Apple iPod classic 7th Generation Black (160 G...
2       2016-04-29 09:10:00  Apple iPhone 6 - 16GB - Gold (Sprint) Clean Se...
3       2016-04-29 09:10:00  Get Jokey Smurfs brand smurfin new hut to play...
4       2016-04-29 09:09:00  Enjoy listening to I Knew You Were Trouble? Bu...
...                     ...                                                ...
118350  2016-04-28 09:27:00  RT @Roleyy_: Only apple users dey enjoy snapch...
118351  2016-04-28 09:27:00  RT @2D_Swank: @hplusali about to have your shi...
118352  2016-04-28 09:27:00  RT @Voovwo__Ciudru: NEW APPLE IPAD MINI CASE C...
118353  2016-04-28 09:27:00  RT @Glamour_Zine: Flashback! : Techie Gift Gui...
118354  2016-04-28 09:27:00  RT @FyrizM: Like an apple hanging from a tree ...

[118355 rows x 2 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118355 entries, 0 to 118354
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    118355 non-null  object
 1   text    118355 non-null  object
dtypes: object(2)
memory usage: 2.7+ MB

In [12]:
df.dropna(inplace=True)

In [13]:
import re

def clean_up_tweet(txt):
    # Remove mentions
    txt = re.sub(r'@[A-Za-z0-9_]+', '', txt)
    # Remove hashtags
    txt = re.sub(r'#', '', txt)
    # Remove retweets:
    txt = re.sub(r'RT : ', '', txt)
    # Remove urls
    txt = re.sub(r'https?:\/\/[A-Za-z0-9\.\/]+', '', txt).strip()
    return txt

In [14]:
df["text"] = df["text"].apply(clean_up_tweet)

In [15]:
df

                       date                                               text
0       2016-04-29 09:10:00                            Dude  fucking amazing!!
1       2016-04-29 09:10:00   Apple iPod classic 7th Generation Black (160 GB)
2       2016-04-29 09:10:00  Apple iPhone 6 - 16GB - Gold (Sprint) Clean Se...
3       2016-04-29 09:10:00  Get Jokey Smurfs brand smurfin new hut to play...
4       2016-04-29 09:09:00  Enjoy listening to I Knew You Were Trouble? Bu...
...                     ...                                                ...
118350  2016-04-28 09:27:00  Only apple users dey enjoy snapchat. Android u...
118351  2016-04-28 09:27:00  about to have your shit blow up lol.. Apple do...
118352  2016-04-28 09:27:00  NEW APPLE IPAD MINI CASE COVER+SCREEN PROTECTO...
118353  2016-04-28 09:27:00  Flashback! : Techie Gift Guide for her and him...
118354  2016-04-28 09:27:00  Like an apple hanging from a tree  DolceAmoreB...

[118355 rows x 2 columns]

In [29]:
from tqdm import tqdm
tqdm.pandas()

In [21]:
def expand_contractions(phrase):
    phrase = re.sub(r"\`", "\'", phrase)
    
    # specific
    phrase = re.sub(r"won\'t", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase.strip()

df["text"] = df["text"].progress_apply(expand_contractions)
df["text"]

/Users/danielsiles/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(HTML(value=''), FloatProgress(value=1.0, bar_style='info', layout=Layout(width='20px'), max=1.0…

HBox(children=(HTML(value='Example Desc'), FloatProgress(value=0.0, max=118355.0), HTML(value='')))

0                                   Dude  fucking amazing!!
1          Apple iPod classic 7th Generation Black (160 GB)
2         Apple iPhone 6 - 16GB - Gold (Sprint) Clean Se...
3         Get Jokey Smurfs brand smurfin new hut to play...
4         Enjoy listening to I Knew You Were Trouble? Bu...
                                ...
118350    Only apple users dey enjoy snapchat. Android u...
118351    about to have your shit blow up lol.. Apple do...
118352    NEW APPLE IPAD MINI CASE COVER+SCREEN PROTECTO...
118353    Flashback! : Techie Gift Guide for her and him...
118354    Like an apple hanging from a tree  DolceAmoreB...
Name: text, Length: 118355, dtype: object

In [23]:
from string import punctuation

def remove_punctuation(tweet):
    tweet = re.sub(f"[{punctuation}]", "", tweet).strip()
    return tweet

df["text"] = df["text"].progress_apply(remove_punctuation)

HBox(children=(HTML(value='Example Desc'), FloatProgress(value=0.0, max=118355.0), HTML(value='')))

In [24]:
def deEmojify(text):
    regrex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags = re.UNICODE)
    return regrex_pattern.sub(r'',text).strip()

df["text"] = df["text"].progress_apply(remove_punctuation)
df["text"]

HBox(children=(HTML(value='Example Desc'), FloatProgress(value=0.0, max=118355.0), HTML(value='')))

0                                     Dude  fucking amazing
1            Apple iPod classic 7th Generation Black 160 GB
2         Apple iPhone 6  16GB  Gold Sprint Clean Serial...
3         Get Jokey Smurfs brand smurfin new hut to play...
4         Enjoy listening to I Knew You Were Trouble Buy...
                                ...
118350    Only apple users dey enjoy snapchat Android us...
118351    about to have your shit blow up lol Apple does...
118352    NEW APPLE IPAD MINI CASE COVERSCREEN PROTECTOR...
118353    Flashback  Techie Gift Guide for her and him p...
118354    Like an apple hanging from a tree  DolceAmoreB...
Name: text, Length: 118355, dtype: object

In [25]:
def remove_numbers(tweet):
    return re.sub(r'\w*\d\w*', "", tweet).strip()

df["text"] = df["text"].progress_apply(remove_numbers)
df["text"]

HBox(children=(HTML(value='Example Desc'), FloatProgress(value=0.0, max=118355.0), HTML(value='')))

0                                     Dude  fucking amazing
1                  Apple iPod classic  Generation Black  GB
2         Apple iPhone     Gold Sprint Clean Serial Numb...
3         Get Jokey Smurfs brand smurfin new hut to play...
4         Enjoy listening to I Knew You Were Trouble Buy...
                                ...
118350    Only apple users dey enjoy snapchat Android us...
118351    about to have your shit blow up lol Apple does...
118352    NEW APPLE IPAD MINI CASE COVERSCREEN PROTECTOR...
118353    Flashback  Techie Gift Guide for her and him p...
118354    Like an apple hanging from a tree  DolceAmoreB...
Name: text, Length: 118355, dtype: object

In [26]:
import spacy
nlp = spacy.load('en')

In [30]:
def lemmatize_tweet(tweet):
    lemmatized_text = nlp(tweet)
    lemmatized_text_lst = [word.lemma_ for word in lemmatized_text]
    return " ".join(lemmatized_text_lst)

In [31]:
df["text"] = df["text"].progress_apply(lemmatize_tweet)

100%|██████████| 118355/118355 [12:41<00:00, 155.33it/s]

In [32]:
df["text"]

0                                       Dude   fuck amazing
1                Apple iPod classic   Generation Black   GB
2         Apple iPhone      Gold Sprint Clean Serial num...
3         get Jokey Smurfs brand smurfin new hut to play...
4         enjoy listen to -PRON- know -PRON- be trouble ...
                                ...
118350    only apple user dey enjoy snapchat Android use...
118351    about to have -PRON- shit blow up lol Apple do...
118352    new APPLE ipad MINI case COVERSCREEN PROTECTOR...
118353    Flashback   Techie Gift Guide for -PRON- and -...
118354    like an apple hang from a tree   DolceAmoreBeg...
Name: text, Length: 118355, dtype: object

In [33]:
df.to_csv("lemmatized_apple_tweets_df.csv")
df = pd.read_csv('lemmatized_apple_tweets_df.csv', index_col=0).dropna()
df

                       date                                               text
0       2016-04-29 09:10:00                                Dude   fuck amazing
1       2016-04-29 09:10:00         Apple iPod classic   Generation Black   GB
2       2016-04-29 09:10:00  Apple iPhone      Gold Sprint Clean Serial num...
3       2016-04-29 09:10:00  get Jokey Smurfs brand smurfin new hut to play...
4       2016-04-29 09:09:00  enjoy listen to -PRON- know -PRON- be trouble ...
...                     ...                                                ...
118350  2016-04-28 09:27:00  only apple user dey enjoy snapchat Android use...
118351  2016-04-28 09:27:00  about to have -PRON- shit blow up lol Apple do...
118352  2016-04-28 09:27:00  new APPLE ipad MINI case COVERSCREEN PROTECTOR...
118353  2016-04-28 09:27:00  Flashback   Techie Gift Guide for -PRON- and -...
118354  2016-04-28 09:27:00  like an apple hang from a tree   DolceAmoreBeg...

[118350 rows x 2 columns]

In [34]:
df["text"]

0                                       Dude   fuck amazing
1                Apple iPod classic   Generation Black   GB
2         Apple iPhone      Gold Sprint Clean Serial num...
3         get Jokey Smurfs brand smurfin new hut to play...
4         enjoy listen to -PRON- know -PRON- be trouble ...
                                ...
118350    only apple user dey enjoy snapchat Android use...
118351    about to have -PRON- shit blow up lol Apple do...
118352    new APPLE ipad MINI case COVERSCREEN PROTECTOR...
118353    Flashback   Techie Gift Guide for -PRON- and -...
118354    like an apple hang from a tree   DolceAmoreBeg...
Name: text, Length: 118350, dtype: object

In [35]:
np.unique(df.loc[20, "text"].split(), return_counts=True)

(array(['Apple', 'Music', 'Retweet', 'a', 'amp', 'chance', 'follow', 'for',
        'free', 'of', 'to', 'win', 'year'], dtype='<U7'),
 array([1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1]))

In [36]:
import nltk

In [37]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/danielsiles/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

vectorizer = TfidfVectorizer(stop_words=stopwords.words('english'), ngram_range=(1,3), min_df=25, max_df=0.5)

In [40]:
# def sentiment_encoder(sentiment):
#     if sentiment == 'negative':
#         return 0
#     elif sentiment == 'neutral':
#         return 1
#     else:
#         return 2

# df[TARGET] = df[TARGET].apply(sentiment_encoder)

In [41]:
!pip install TextBlob

Requirement already satisfied: TextBlob in /Users/danielsiles/anaconda3/lib/python3.6/site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /Users/danielsiles/anaconda3/lib/python3.6/site-packages (from TextBlob) (3.5)
Requirement already satisfied: joblib in /Users/danielsiles/anaconda3/lib/python3.6/site-packages (from nltk>=3.1->TextBlob) (1.0.0)
Requirement already satisfied: regex in /Users/danielsiles/anaconda3/lib/python3.6/site-packages (from nltk>=3.1->TextBlob) (2020.11.13)
Requirement already satisfied: click in /Users/danielsiles/anaconda3/lib/python3.6/site-packages (from nltk>=3.1->TextBlob) (7.1.2)
Requirement already satisfied: tqdm in /Users/danielsiles/anaconda3/lib/python3.6/site-packages (from nltk>=3.1->TextBlob) (4.53.0)

In [42]:
from textblob import TextBlob
# from wordcloud import WordCloud

def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

# Create a function to get the polarity
def getPolarity(text):
    return  TextBlob(text).sentiment.polarity


# Create two new columns 'Subjectivity' & 'Polarity'
df['Subjectivity'] = df['text'].apply(getSubjectivity)
df['Polarity'] = df['text'].apply(getPolarity)

In [44]:
df

,date,text,Subjectivity,Polarity
0,2016-04-29 09:10:00,Dude fuck amazing,0.750000,0.100000
1,2016-04-29 09:10:00,Apple iPod classic Generation Black GB,0.300000,0.000000
2,2016-04-29 09:10:00,Apple iPhone Gold Sprint Clean Serial num...,0.700000,0.366667
3,2016-04-29 09:10:00,get Jokey Smurfs brand smurfin new hut to play...,0.427273,-0.131818
4,2016-04-29 09:09:00,enjoy listen to -PRON- know -PRON- be trouble ...,0.411905,0.161905
...,...,...,...,...
118350,2016-04-28 09:27:00,only apple user dey enjoy snapchat Android use...,0.716667,0.250000
118351,2016-04-28 09:27:00,about to have -PRON- shit blow up lol Apple do...,0.672222,0.116667
118352,2016-04-28 09:27:00,new APPLE ipad MINI case COVERSCREEN PROTECTOR...,0.377273,0.018182
118353,2016-04-28 09:27:00,Flashback Techie Gift Guide for -PRON- and -...,0.000000,0.000000
118354,2016-04-28 09:27:00,like an apple hang from a tree DolceAmoreBeg...,0.000000,0.000000

In [47]:
df["date"] = pd.to_datetime(df["date"])

In [52]:
df["day"] = df["date"].dt.date

In [71]:
df["hour"] = df["date"].apply(lambda date: str(date)[:-6] + ":00:00")

In [73]:
df["date"].min()

Timestamp('2016-04-28 09:27:00')

In [75]:
df["date"].max()

Timestamp('2016-04-29 09:10:00')

In [76]:
df.groupby("hour").count()

                      date   text  Subjectivity  Polarity    day
hour
2016-04-28 09:00:00   3964   3964          3964      3964   3964
2016-04-28 10:00:00   4121   4121          4121      4121   4121
2016-04-28 11:00:00    844    844           844       844    844
2016-04-28 12:00:00   1626   1626          1626      1626   1626
2016-04-28 14:00:00  10402  10402         10402     10402  10402
2016-04-28 15:00:00   1520   1520          1520      1520   1520
2016-04-28 16:00:00   3877   3877          3877      3877   3877
2016-04-28 17:00:00   3035   3035          3035      3035   3035
2016-04-28 18:00:00   7059   7059          7059      7059   7059
2016-04-28 19:00:00   4100   4100          4100      4100   4100
2016-04-28 20:00:00   1611   1611          1611      1611   1611
2016-04-28 21:00:00   9643   9643          9643      9643   9643
2016-04-28 22:00:00   6031   6031          6031      6031   6031
2016-04-28 23:00:00   4830   4830          4830      4830   4830
2016-04-29 00:00:00    934    934           934       934    934
2016-04-29 01:00:00  13127  13127         13127     13127  13127
2016-04-29 02:00:00  12781  12781         12781     12781  12781
2016-04-29 03:00:00   4910   4910          4910      4910   4910
2016-04-29 04:00:00   8880   8880          8880      8880   8880
2016-04-29 05:00:00   1129   1129          1129      1129   1129
2016-04-29 06:00:00   5605   5605          5605      5605   5605
2016-04-29 07:00:00   2614   2614          2614      2614   2614
2016-04-29 08:00:00   4850   4850          4850      4850   4850
2016-04-29 09:00:00    857    857           857       857    857

In [30]:
X = df.drop(TARGET, axis=1)
y = df[TARGET]

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)

X_train shape: (24728, 1)
X_test shape: (2748, 1)

In [32]:
X_train_vectorized = vectorizer.fit_transform(X_train["text"])
X_test_vectorized = vectorizer.transform(X_test["text"])

In [33]:
print("X_train_vectorized shape:", X_train_vectorized.shape)
print("X_test_vectorized shape:", X_test_vectorized.shape)

X_train_vectorized shape: (24728, 1419)
X_test_vectorized shape: (2748, 1419)

In [34]:
X_train_t = pd.concat([pd.DataFrame(X_train_vectorized.toarray(), index=X_train.index), X_train.drop("text",axis=1)], axis=1)
X_test_t = pd.concat([pd.DataFrame(X_test_vectorized.toarray(), index=X_test.index), X_test.drop("text",axis=1)], axis=1)

In [35]:
print("X_train shape:", X_train_t.shape)
print("X_test shape:", X_test_t.shape)

X_train shape: (24728, 1419)
X_test shape: (2748, 1419)

In [37]:
from sklearn.svm import LinearSVC
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

mcc = OneVsRestClassifier(SVC(verbose=1))
mcc.fit(X_train_t, y_train)
y_pred = mcc.predict(X_test_t)

[LibSVM]

KeyboardInterrupt:

In [ ]:
print("Score:", accuracy_score(y_test, y_pred))

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
mcc = OneVsRestClassifier(GaussianNB())
mcc.fit(X_train_t, y_train)
y_pred = mcc.predict(X_test_t)

In [ ]:
print("Score:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

In [ ]:
from sklearn.metrics import confusion_matrix, plot_confusion_matrix

confusion_matrix(y_test, y_pred)

In [ ]:
np.unique(y)

In [ ]:
from sklearn.svm import SVC

In [ ]:
svc = SVC()
svc.fit(X_train_vectorized, y_train)

In [ ]:
y_pred = svc.predict(X_test_vectorized)

In [ ]:
from sklearn.metrics import accuracy_score

print("Score:", accuracy_score(y_test, y_pred))

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lin_reg = LogisticRegression(penalty="l1", solver="saga", C=10, max_iter=100000)
lin_reg.fit(X_train_vectorized, y_train)

In [ ]:
y_pred = lin_reg.predict(X_test_vectorized)

In [ ]:
from sklearn.metrics import accuracy_score

print("Score:", accuracy_score(y_test, y_pred))